<!-- <html>
    <head>
        <title>Homepage</title>
        <link rel="stylesheet" type="text/css" href="style.css"/>
    </head>
    <body style="background-color: %%%VIEWS%%%">
        <h1>Adventure Click</h1>
        <p>This page has been viewed %%%VIEWS%%% times</p>
        <p>Choose a portal:</p>
        <ul>
            <li><a href="/door">door</a></li>
            <li><a href="/window">window</a></li>
            <li><a href="/inventory">inventory</a></li>
        </ul>
    </body>
</html> -->

  
<html>
    <head>
        <title>Adventure Click</title>
        <!-- <link rel="stylesheet" type="text/css" href="style.css"/> -->
    </head>
    <body style="background: '%%%COLOR%%%'">
        <h1>%%%TITLE%%</h1>
        <p>%%%TEXT%%%</p>
        <ul>
            %%%OPTIONS%%%
        </ul>
    </body>
</html>