
.square_p1 {
    height: 60px;
    width: 60px;
    color: pink;
}
.square_p2 {
    height: 60px;
    width: 60px;
    color: green;
}
.row {
    display: flex;
    flex-direction: row;
    height: 60px;
    align-content: center;
    align-self: center;
    align-items: center;
}
.column {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.message {
    font-size: 60px;
    margin: auto;
    margin-top: 40px;
}